body, input, button {
	font-family: "Calibri", "Open Sans", sans-serif;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background: rgb(26, 55, 97);
	color: #fff;
	font-size: 32px;
}

input {
	width: 75px;
	font-size: 32px;
}

button {
	width: 250px;
	height: 50px;
	font-size: 32px;
}

#countdown {
	font-family: "Monaco";
}